:root {
  --gray-shade1: #B2B2B2;
  --blue-shade1: #cadaff;
  --black-shade1:#2B2B2B;
  --white-shade1: rgb(241, 234, 234);
}

body {
  margin: 15px;
  padding: 15px;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: length(25px);
}

.day {
  border: 1px solid var(--black-shade1);
  text-align: center;
  padding: 15%;
  font-size: 16px;
  background-color: var(--blue-shade1);
}

.name {padding-bottom: 10px;}